body {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #efefef;
}

header {
  background: #00f6f6;
  padding: 0 2%;
}

header > h1 {
  padding: 2% 0;
  margin: 0;
}

header > p:last-child {
  padding-bottom: 2%;
}

.container {
  padding: 0 2%;
}

.scout {
  padding-top: 20px;
}
