body {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #efefef;
}

header {
  background: #00f6f6;
  padding: 0 2%;
}

header > h1 {
  padding: 2% 0;
  margin: 0;
}

header > p:last-child {
  padding-bottom: 2%;
}

.container {
  padding: 0 2%;
}

.scout {
  padding-top: 20px;
}

.t-center {
  text-align: center;
}

.podcast-header {
  background-image: url('./images/header-bg.png');
  background-size: cover;
  padding: 20px;
  text-align: center;
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
}

.podcast-header h1 {
  margin-left: 1rem;
  color: black;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}