body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #efefef;
}

header {
  background: #00f6f6;
}

header > h1,
header > p,
footer > p {
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

header > h1 {
  padding: 4% 0 2%;
}

header > p {
  padding-bottom: 2%;
}

.container {
  display: flex;
}

section > h1 {
  margin: 20px 0 0;
}

.container > section {
  padding: 2%;
  background: white;
  line-height: 1.6;
  box-sizing: border-box;
  flex-grow: 1;
  width: 33%;
  transition: order 3s;

}

@media (max-width:600px) {
  header > h1,
  header > p,
  footer > p {
    width: 100%;
    padding-right: 1.5%;
    padding-left: 1.5%;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

.bottom {
  order: 3;
  transition: order 1s;
}

.first {
  order:1;
}
.second {
  order:2;
}
.third {
  order:3;
}
